<html>
<head>
<title> Login page for admin </title>
<style>
form
{
  margin:200 auto;
  width:500px;
  text-align:center;
}
</style>
</head>
<body>
 
 <form action='/admin/login' method='post'>
 Email:<br>
  <input type="text" name="email">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Submit">
   <br><br>
   <a href="/admin/signup/">Signup</a>
 </form>
  
</body>
</html>





